body /*Especificidad:001*/{
    align-items: center;
    height: auto;
}

main /*Especificidad:001*/{
    width: 70%;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(9, 1fr);
    gap: 0;
    margin:0 auto;
    border: 0.2em solid #214F46;
}
  
p /*Especificidad:001*/{
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    text-align: center;
    border: 0.05em solid #214F46;
}

p[data-state='empty'] /*Especificidad:011*/{
    /*Hereda color de body #214F46*/
    background-color: #000000;
    color: #FFFFFF;
}

p[data-state='clicked'] /*Especificidad:011*/{
    /*Hereda color de body #214F46*/
    background-color:#ff0000;
    color: #FFFFFF;
}

p[data-state='correct'] /*Especificidad:011*/{
    /*Hereda color de body #214F46*/
    background-color:#FFFFFF;
    color: #000;
}


  /* Especificidad -> (0,0,1) */
form {
    display: flex;
    flex-direction: column;
    align-items:center;
    border:solid 0.2em #214F46;
}

  /* Especificidad -> (0,0,2) */
form p{
    width:100%;
    border:none;
}
  /* Especificidad -> (0,0,3) */
form p label{
    padding-right: 0.1em;
}
  /* Especificidad -> (0,1,1) */
section[name="ranking"]{
    margin-top:1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#EAE0D7;
    background-color:#523A28;
}
  /* Especificidad -> (0,1,2) */
section[name="ranking"] ol{
    list-style-type:decimal; 
    color:#EAE0D7; /*Se hereda*/
    background-color: black;
}


/*especificidad 011*/
section[data-type=botonera] {
    display: none;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*especificidad 012*/
section[data-type=botonera] h2 {
    width: 100%;
    text-align: center;
}

/*especificidad 012*/
section[data-type=botonera] button {
    width: calc(15% - 1em);
    height: 4em;
    text-align: center;
    background-color: #B1D4E0;
    color: #0C2D48;
}

/*especificidad 012*/
section[data-type=ayuda] {
    margin-bottom: 2em;
    text-align: center;
}

/*especificidad 012*/
section[data-type=ayuda] > article {
    width: 60%;
    text-align: center;
    background-color: #B1D4E0;
    color: #0C2D48;
    margin: 0 auto;
}


@media  screen and (max-width: 1200px) {
    /*especificidad 011*/
    section[data-type=botonera]{
        display: flex; /* le cambio el display para que se vea la botonera en pantallas de  tablet y movil */
    }
}


